._titolo {
    color: rgb(34, 24, 7);
    text-align: center;
    font-size: xx-large;
    font-family: serif;
    text-decoration: underline;

}

.titles {
    background-color: lightgray;
    border: 2px solid;
}

.sfondo {
    background-color: bisque;
    border: 3px solid;
}

/*immagini sfondo prova*/


.testo {
    font-size: x-large;
    font-style: normal;

}

.lista {
    font-size: x-large;
    font-style: italic;
    background-color: ivory;
    border: 2px solid;
}

.img {
    width: 600px;
}