._titolo {
    color: rgb(34, 24, 7);
    text-align: center;
    font-size: xx-large;
    font-family: serif;

}

.sfondo {
    background-color: bisque;
}

/*immagini sfondo prova*/


.testo {
    font-size: x-large;
    font-weight: bolder;

}

.lista {
    font-size: x-large;
    font-style: italic;
    background-color: burlywood;
}

.img {
    width: 600px;
}